http:
  routers:
    play:
      rule: "HostRegexp(`^.+$`)"
      priority: 1
      service: play
      entryPoints:
        - web
    play-ws:
      rule: "HostRegexp(`^.+$`) && PathPrefix(`/ws/`)"
      priority: 2
      service: play-ws
      entryPoints:
        - web
    # Route Vite dev assets directly to Vite server (bypasses pusher redirect)
    play-vite-src:
      rule: "HostRegexp(`^.+$`) && PathPrefix(`/src/`)"
      priority: 3
      service: front
      entryPoints:
        - web
    play-vite-nodemodules:
      rule: "HostRegexp(`^.+$`) && PathPrefix(`/node_modules/`)"
      priority: 3
      service: front
      entryPoints:
        - web
    play-vite-fs:
      rule: "HostRegexp(`^.+$`) && PathPrefix(`/@fs/`)"
      priority: 3
      service: front
      entryPoints:
        - web
    play-vite-client:
      rule: "HostRegexp(`^.+$`) && PathPrefix(`/@vite/`)"
      priority: 3
      service: front
      entryPoints:
        - web
    play-vite-id:
      rule: "HostRegexp(`^.+$`) && PathPrefix(`/@id/`)"
      priority: 3
      service: front
      entryPoints:
        - web
    play-vite-hmr:
      rule: "HostRegexp(`^.+$`) && PathPrefix(`/__vite_hmr`)"
      priority: 3
      service: front
      entryPoints:
        - web
    front:
      rule: "Host(`front.workadventure.localhost`)"
      priority: 10
      service: front
      entryPoints:
        - web
    map-storage:
      rule: "Host(`map-storage.workadventure.localhost`)"
      priority: 10
      service: map-storage
      entryPoints:
        - web
    back:
      rule: "Host(`api.workadventure.localhost`)"
      priority: 10
      service: back
      entryPoints:
        - web

  services:
    play:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:3000"
    play-ws:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:3001"
    front:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:8080"
    map-storage:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:3005"
    back:
      loadBalancer:
        servers:
          - url: "http://host.docker.internal:8082"
